.archive {
    margin: 2em 0 5em 0;
    width: 100%;

    .post-item {
        padding: 2px 0 0 50px;
        overflow: hidden;
    }

    .post-time,
    .post-title-link {
        font-size: 1rem;
    }

    .post-title-link {
        margin-left: 25px;
        color: #42b983;
        word-wrap: break-word;
    }

    .post-info {
        float: left;
        // width: 125px;
        color: #7f8c8d;
    }
}

.tag {
    display: inline-block;
    cursor: pointer;
    background-color: #ddd;
    padding: 3px 10px 0 10px;
    border-radius: 40px;
    margin: 2px 5px;
    font-size: 13px;
}

.tagCount {
    margin: 0 0 0 2px;
    font-size: 3px;
    vertical-align: top;
}