header {
    min-height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    .branding {
        margin: 0;
        vertical-align: text-bottom;
        a {
            font: 2rem 'Oswald-Regular',
            'Helvetica Neue',
            Arial,
            sans-serif;
        }
    }

    .nav {
    }

    .logo-image {
        width: 60px;
    }

    .nav-list-item {
        display: inline-block;
        padding: 19px  10px ;
        a {
            font-size: 16px;
            line-height: 1.4;
        }
    }
}
