.archive {
    margin: 2em 0 5em 0;
    width: 100%;
    .archive-year {
        font-family: $feature-font-family;
    }
    .post-item {
        padding: 2px 0 0 50px;
        overflow: hidden;
    }
    .post-time,
    .post-title-link {
        font-size: 1rem;
    }
    .post-title-link {
        margin-left: 25px;
        color: #42b983;
        word-wrap: break-word;
    }
    .post-info {
        float: left;
        font-family: $feature-font-family;
        color: #9c9c9c;
    }
}

.tag-icon,
.all-icon,
.category-icon {
    font-size: 0.8rem;
    margin-right: 0.2rem;
}

.tag,
.category {
    display: inline-block;
    cursor: pointer;
    color: #eee;
    background-color: #42b983;
    padding: 1px 10px 1px 8px;
    border-radius: 100px;
    margin: 2px 5px;
    font-size: 13px;
}

.tag-all {
    background-color: #31a872;
}

.tagCount {
    position: relative;
    margin-left: 0.1rem;
    top: -0.15rem;
    font-family: $feature-font-family;
    font-size: 3px;
}

.allTagCount {
    font-family: $feature-font-family;
}