.home.post-list {
    margin: 2em 0;
    .post-list-item {
        padding: 2em 0 2em;
        border-bottom: 1px dashed #ddd;
        &:first-child {
            border-top: 1px dashed #ddd;
        }
    }
    .post-content{
        h2, h3, h4, h5, h6 {
            &:before {
                content: '';
            }
        }
        & > ul {
            list-style: initial;
        }
    }
    .read-more {
        font-family: $feature-font-family;
        color: #42b983;
    }
}